/*
 * @Author: Hadwz 
 * @Date: 2017-10-13 23:21:17 
 * @Last Modified by: Hadwz
 * @Last Modified time: 2017-10-14 23:09:46
 */



.container {
	margin:1rem auto;
	/* background-color: lightblue; */
}


.book-info{
	margin:2rem 0;
	background-color: white;
	text-align: center;
}

.book-info th{
	text-align: center;
	height:3rem;
}

.book-info td{
	height:3rem;
}

.others{
	background-color: red;
}


.pager-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
}

.loading-icon{
	margin-top:3rem;
}

.loading-icon p{
	margin-top:1rem;
}